---
import "./Comment.less";
---

<section class="vh-comment"></section>
<script>
	// 服务地址 URL
	const WalineServerURL = "https://waline-red-beta.vercel.app";
	// 评论组件 dom
	const commentDOM = ".vh-comment";
	if (!document.querySelector(commentDOM) || !WalineServerURL) return;
	import("@waline/client/waline.css");
	import("@waline/client/waline-meta.css");
	const { init } = await import("@waline/client");
	init({ el: commentDOM, serverURL: WalineServerURL });
</script>
