---
import "./Comment.less";
const WalineServerURL = "https://waline-red-beta.vercel.app";
---

<section class="vh-comment" id="comment"></section>

<script type="module" client:load>
	import { init } from "@waline/client";
	import "@waline/client/waline.css";
	import "@waline/client/waline-meta.css";

	// 初始化 Waline 评论组件
	init({
		el: "#comment",
		serverURL: "https://waline-red-beta.vercel.app",
	});
</script>
